---
import logo from "../assets/logo.png";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- Coming Soon Overlay - Remove this div to see the actual content -->
  <div
    id="coming-soon-overlay"
    style="
		position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        font-size: 3rem;
        font-weight: bold;
        z-index: 9999;
        text-align: center;
        gap: 2rem;
	"
  >
    <img
      src={logo.src}
      alt="Bloom Fitness Logo"
      style="max-width: 300px; max-height: 200px; width: auto; height: auto;"
    />
    <div>Próximamente...</div>
    <div style="font-size: 1.5rem; font-weight: normal; margin-top: 1rem;">
      Plaza Músico Ibars, 5, 46920 Mislata
    </div>
  </div>

  <Welcome />
</Layout>
