---
import Banner from "../components/Banner.astro";
import BloomFitnessMap from "../components/BloomFitnessMap.astro";
import ColorBar from "../components/ColorBar.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Services from "../components/Services.astro";
import Team from "../components/Team.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <Banner />
  <ColorBar loading="lazy" />
  <div id="services">
    <Services />
  </div>
  <Video />
  <div id="team">
    <Team />
  </div>
  <div id="contact">
    <Contact />
  </div>
  <BloomFitnessMap />
  <ColorBar loading="lazy" />
  <Footer />
</Layout>
