---
import Banner from "../components/Banner.astro";
import ColorBar from "../components/ColorBar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Reviews from "../components/Reviews.astro";
import Services from "../components/Services.astro";
import ShopSection from "../components/ShopSection.astro";
import Team from "../components/Team.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Bloom Fitness | Entrenamiento, Fisioterapia y Nutrición Personalizada"
  description="Tu centro familiar de entrenamiento, fisioterapia y nutrición en Mislata. Olvídate de los gimnasios masificados. Nos centramos en tu salud, fuerza y readaptación de lesiones. Trato 100% personal."
  keywords="entrenamiento Mislata, gimnasio Mislata, entrenador personal Mislata, gimnasio no masificado Mislata, fisioterapia Mislata, fisioterapeuta Mislata, readaptación lesiones Mislata, dolor espalda ejercicio, nutrición Mislata, nutricionista Mislata, salud integral Mislata, bloom fitness"
>
  <Header />
  <Banner />
  <ColorBar loading="lazy" />
  <div id="services">
    <Services />
  </div>
  <Video />
  <Reviews />
  <div id="team">
    <Team />
  </div>
  <ColorBar loading="lazy" />
  <ShopSection />
  <ColorBar loading="lazy" />
  <Footer />
</Layout>
