---
import { Image } from "astro:assets";
import colorBar from "../assets/color-bar.webp";

interface Props {
  loading?: "eager" | "lazy";
}

const { loading = "eager" } = Astro.props;
---

<section class="w-full">
  <Image
    src={colorBar}
    alt="Color Bar"
    class="w-full h-auto"
    loading={loading}
    widths={[320, 480, 768, 1024, 1280, 1920]}
    sizes="100vw"
  />
</section>
