---
import { Image } from "astro:assets";
import colorBar from "../assets/color-bar.png";

interface Props {
  loading?: "eager" | "lazy";
}

const { loading = "eager" } = Astro.props;
---

<section class="w-full">
  <Image
    src={colorBar}
    alt="Color Bar"
    class="w-full h-auto"
    loading={loading}
  />
</section>
