---
import isotipo from "../assets/isotipo.png";
---

<header class="bg-black h-16 md:h-20 lg:h-30">
  <div class="h-full flex items-center justify-center">
    <img
      src={isotipo.src}
      alt="Bloom Fitness"
      class="h-8 md:h-10 lg:h-16 w-auto"
    />
  </div>
</header>
