---

---

<section class="text-white w-full bg-black pt-[5rem] pb-[5rem]">
  <div class="container mx-auto px-4">
    <div class="w-full flex items-center justify-center">
      <div class="w-full max-w-275 flex flex-col">
        <div
          class="flex flex-col md:flex-row items-center justify-start md:justify-start pb-8 gap-4 md:gap-0"
        >
          <h1
            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold tracking-wide md:mr-10 text-center md:text-left"
          >
            ENTRENAMIENTO
          </h1>
          <div class="flex items-center">
            <div
              class="w-8 h-8 md:w-10 md:h-10 rounded-full border-[0.15rem] border-white flex justify-center items-center text-lg md:text-xl font-bold p-0 m-0"
            >
              W
            </div>
            <div class="w-16 md:w-25 h-[0.15rem] bg-white"></div>
            <div
              class="w-8 h-8 md:w-10 md:h-10 rounded-full border-[0.15rem] border-white flex justify-center items-center text-lg md:text-xl font-bold"
            >
              O
            </div>
          </div>
        </div>

        <div
          class="flex flex-col md:flex-row items-center justify-start md:justify-end pb-8 gap-4 md:gap-0"
        >
          <div class="flex items-center order-2 md:order-1">
            <div
              class="w-8 h-8 md:w-10 md:h-10 rounded-full border-[0.15rem] border-white flex justify-center items-center text-lg md:text-xl font-bold"
            >
              F
            </div>
            <div class="w-16 md:w-25 h-[0.15rem] bg-white"></div>
            <div
              class="w-8 h-8 md:w-10 md:h-10 rounded-full border-[0.15rem] border-white flex justify-center items-center text-lg md:text-xl font-bold"
            >
              T
            </div>
          </div>

          <h1
            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold tracking-wide md:ml-10 text-center md:text-left order-1 md:order-2"
          >
            FISIOTERAPIA
          </h1>
        </div>

        <div
          class="flex flex-col md:flex-row items-center justify-center pb-8 gap-4 md:gap-0"
        >
          <h1
            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold tracking-wide md:mr-10 text-center md:text-left"
          >
            NUTRICIÓN
          </h1>
          <div class="flex items-center">
            <div
              class="w-8 h-8 md:w-10 md:h-10 rounded-full border-[0.15rem] border-white flex justify-center items-center text-lg md:text-xl font-bold"
            >
              N
            </div>
            <div class="w-16 md:w-25 h-[0.15rem] bg-white"></div>
            <div
              class="w-8 h-8 md:w-10 md:h-10 rounded-full border-[0.15rem] border-white flex justify-center items-center text-lg md:text-xl font-bold"
            >
              E
            </div>
          </div>
        </div>
      </div>
    </div>

    <span
      class="block text-center text-white text-lg sm:text-xl md:text-2xl lg:text-3xl mt-8 mx-auto font-extralight px-4"
    >
      <b>"</b>Apostamos por un <b>enfoque individualizado</b> donde tú y tus objetivos
      sois lo más Importante. Aquí
      <b>cada sesión cuenta, cada mejora se celebra y cada persona importa"</b>
    </span>
  </div>
</section>
