---
import services from "../assets/services.png";
---

<section class="w-full bg-black pt-[5rem] pb-[5rem]">
  <div class="container mx-auto px-4">
    <div class="flex align-middle justify-center">
      <img
        src={services.src}
        alt="Servicios de Bloom Fitness"
        class="w-full h-auto max-w-6xl"
      />
    </div>
    <span
      class="block text-center text-white text-3xl mt-8 mx-auto font-extralight"
    >
      <b>"</b>Apostamos por un <b>enfoque individualizado</b> donde tú y tus objetivos
      sois lo más Importante. Aquí
      <b>cada sesión cuenta, cada mejora se celebra y cada persona importa"</b>
    </span>
  </div>
</section>
